/* Footer.css */

.footer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content in footer */
  padding: 10px 20px;
  background-color: #282828;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
