@use "../../../../utilities/variables" as *;
// src/components/main/Player/playerControls/tracksControl.scss
.tracks-control-container {
  display: flex;
  flex-direction: row;
  z-index: 1;
  align-items: center;
  gap: 10px;

  .controls  {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: #1db954;
    }
  }
  .Button {
    display: flex;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      color: #1db954;
    }
  }
  
}
