.left-section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 140px); /* Adjusting for header and footer height */
  width: 300px;
  padding-top: 10px; /* Added padding to move content higher */
}

.side-menu {
  flex: 1;
  overflow-y: auto;
}

.side-menu-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu-search {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.library-header {
  padding: 10px;
}

.user-playlist-container {
  padding: 10px 0;
}

.left-section-container {
  flex: 1;
  overflow-y: auto;
}

.button-section {
  padding: 10px;
  text-align: center;
}
